*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.9)),url('background.jpg');
    min-width: 50%;
    font-family:  sans-serif;
}

.navbar {
    width: 100%;
    background-color: #D8241A;
    overflow: auto;
    font-weight: 900;
  }

  .navbar a {
    float: left;
    padding: 9px; /*thinner nav bar */
    color: white;
    text-decoration: none;
    font-size: 21px;
    width: 25%; /* Four links of equal widths */
    text-align: center;
  }
  .navbar a:hover{
    transition-delay: 50ms;
    animation-name: navbar-animation;
    animation-duration: 1s;
}
@keyframes navbar-animation {
    from{color:white;}
    to{color:black;}
}


  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left;
    }
  }

.header img{
display: block;
margin-left: auto;
margin-right: auto;
width: 45%;
height: 80%;
margin-top: 20px;
}


.btns{
    padding: 50px;
    text-align: center;
}

.contact-us{
    margin-right: 250px;
}


.vector{
    text-align: center;
}
.billboard{
    text-align: center;
}
.billboard img{
margin-left: auto;
margin-right: auto;
margin-top: 1cm;
opacity: 0.9;
width: 20%;
}
@keyframes vector-animation {
    from {transform:scale(1);}
    to {transform: scale(1.2);}  
  }
.hovering:hover{
    opacity: 1;
    animation-name: vector-animation;
    animation-duration: 2s;
}

.about{
    margin-top: 2cm;
    background-color:#D8241A;/*color i set same as q in zinque*/
    color: white;
}
.about h1{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 20px;
   font-weight: 600;
    font-size: 40px;
}
.about p{
padding-left: 60px;
padding-right: 60px;
padding-bottom: 60px;
color: white;
}


.conbox{
    text-align: center;
    margin-top: 3cm;
    padding-left: 30px;
    padding-right: 30px; 
    font-size: 30px;
    font-weight: 400;
}
.imgphone{
    float: left;
    margin-left: 9%;
    width: 15%;
    padding-bottom: 30px;
    padding-right: 30px;
    animation-name: phone-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;    
}
.imgloc{
    float: right;
    margin-right: 9%;
    width: 12%;
    padding-left: 30px;
    padding-bottom: 30px;
}
.conposition{
    text-align:center;
    margin-right: 20%;
}
.conhours{
    text-align:center;
    margin-left: 3%;
}
@keyframes phone-animation {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(20deg);}
    100% {transform: rotate(0deg);}
  }


.enq{
    padding-top: 60px;
    font-size: 100%;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 3cm;   
}
.enqh{
    padding-left: 20%;
    font-weight: 600;
}
.enqimg{
    float: right;;
    margin-right:5%;
    width:30%;
}

input[type=text] {
    border: 3px solid #D8241A;
    border-radius: 4px;
    width: 60%;
  }
.messagebox{
    height:5%
}
input[type=button] {  
    background-color:transparent;
    color: black;
    font-size: 18px;
    font-weight: 400;
    border: 5px solid #D8241A;
    padding: 12px 30px;
    text-align: center;
    border-radius: 15px;
    float: left;
    margin-left: 24%;
  }

input[type=button]:hover{
    background-color:#D8241A;   
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    animation-name: button-animation;
    animation-duration: 1s;   
}
@keyframes button-animation {
    from{background-color:transparent;}
    to{background-color:#D8241A;}    
  }


.reach{
    padding: 10px;
    font-size: 90%;
    margin-top: 3cm;
    background-color:#D8241A;   
}

.welcome{
    color: #D9D9D9;
}

.contact-color{
    color: #D9D9D9;
}

.about-color{
    color: #D9D9D9;
}

.enquiry-color{
    color: #D9D9D9;
}


